<!DOCTYPE html>
<html>
<head>
	<title>Cars</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<img src="/car1.jpg" alt="A Car">
	<img src="/car2.jpg" alt="A Car">
	<img src="/car3.jpg" alt="A Car">
</body>
</html>