<!DOCTYPE html>
<html>
<head>
	<title>Cars</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<a href="/cat_1"><img src="/cat1.jpg" alt="A Cat"></a>
	<a href="/cat_2"><img src="/cat2.jpg" alt="A Cat"></a>
	<a href="/cat_3"><img src="/cat3.jpg" alt="A Car"></a>
</body>
</html>