<!DOCTYPE html>
<html>
<head>
	<title>Add a car</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<form>
		<label>Car Name: </label>
		<input type="text" name="car">
		<label>Model : </label>
		<input type="text" name="model">
		<input type="submit" name="Submit" value="Add">
	</form>
</body>
</html>