<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quoting Dojo</title>
    </head>
    <body>
        <% for(var quote of quotes) { %>
            <p><%= quote.name %></p>
            <h5><%= quote.quote %></h5>
        <%}%>
    </body>
</html>