<!DOCTYPE html>
<html>
<head>
	<title>Show result</title>
</head>
<body>
	<div>
		<h3>Submitted information</h3>
		<p>Name : <%= data[0].result.name%> </p>
		<p>Dojo Location : <%= data[0].result.location%> </p>
		<p>Favorite language : <%= data[0].result.lang%></p>
		<p>Comments : <%= data[0].result.comments%></p>
	</div>
</body>
</html>